<section>

  <div class="left-box">

    <img src="assets/bg-main-desktop.png">

    <div class="front-card">
      <div class="front-card-info">

        <img src="assets/card-logo.svg">

        <h1>{{cardNumber}}</h1>

        <div class="name-data">
          <p>{{formatName(nomeAtual)}}</p>
          <p>{{ mesAtual || '00'}}/{{ anoAtual || '00'}}</p>
        </div>
      </div>

      <img src="assets/bg-card-front.png">
    </div>

    <div class="back-card">
      <div class="back-card-info">
          <p>{{cvcAtual || '123'}}</p>
      </div>
      <img src="assets/bg-card-back.png">
    </div>

  </div>

  <div class="side-right">

    <div class="right-box"
         *ngIf="onContinue != 0">

      <div class="name"
           *ngIf="onContinue != 0">
        <p>CARDHOLDER NAME</p>
        <input
        placeholder="e.g. Jane Appleseed"
        type="text"
        maxlength="25"
        [(ngModel)]="nomeAtual"
        name="nome"
        ngPattern="/^[a-zA-Z]*$/" required>
      </div>

      <div class="number"
           *ngIf="onContinue != 0">
        <p>CARD NUMBER</p>
        <input
        placeholder="e.g 1234 5678 9123 000"
        type="text"
        maxlength="16"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        [(ngModel)]="numeroAtual">
      </div>

      <div class="exp-cvc"
            *ngIf="onContinue != 0">

        <div class="data">

          <p>EXP.DATA(MM/YY)</p>
          <input
          placeholder="MM"
          type="text"
          maxlength="2"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
          [(ngModel)]="mesAtual">
          <input
          placeholder="YY"
          type="text"
          maxlength="2"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
          [(ngModel)]="anoAtual">

        </div>

        <div class="cvc">
          <p>CVC</p>
          <input
          placeholder="e.g 123"
          type="text"
          maxlength="3"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"

          [(ngModel)]="cvcAtual">
        </div>

      </div>

      <button (click)="onContinue = 0"
              *ngIf="onContinue != 0">Confirm</button>

    </div>

    <div class="right-box-continue"
         *ngIf="onContinue == 0">

        <div class="iconContinue"
          *ngIf="onContinue == 0">
          <img src="assets/icon-complete.svg">
          <h1>THANK YOU!</h1>
          <p>We've added your card details</p>
          <button (click)="onContinue = 0"
                  *ngIf="onContinue == 0"
                  class="botao-continue">
            Continue
          </button>
        </div>




    </div>

  </div>

</section>
